name: Workflow
on:
  push:
    branches:
      - master

jobs:
  build-dist:
    permissions:
      contents: write

    name: Build dist
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v5
        with:
          path: master

      - name: Checkout dist
        uses: actions/checkout@v5
        with:
          ref: dist
          path: dist

      - name: Copy dist to master
        if: ${{ ! contains(github.event.head_commit.message, '[skip-cache]') }}
        run: |
          mkdir -p master/dist
          cp dist/media.lock master/dist || true
          cp -r dist/media master/dist || true

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Build dist
        working-directory: master
        run: make

      - name: Push dist
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./master/dist
          publish_branch: dist
          force_orphan: true
          keep_files: false
          disable_nojekyll: true
